html {
    height: 100%;
    width: 100%;
    text-rendering:geometricPrecision;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
  height: 100%;
}

.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 55% 25%;
  grid-template-areas:
      "header header header header"
      ". bodyContent bodyContent ."
      "footer footer footer footer";
}

.header-area {
    grid-area: header;
    text-align: center;
    font-size: 60px;
    height: 150px;
    line-height: 150px;
    background-color: #C7F0BD;
    font-family: 'Oswald', sans-serif;
}

.content-area {
    grid-area: bodyContent;
    min-height: 300px;
    height: 100%;
    padding: 15px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

.content-area ul {
  list-style: circle;
  font-size: 17px;
}

.footer-area {
    display: flex;
    flex-direction: row;
    align-self: end;
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: footer;
    background-color: #C7F0BD;
    height: 80px;
}

.footer-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.select-box {
  margin: 0 0 15px 0;
  font-family: sans-serif;
}

.required-prop {
  font-weight: bold;
}

.selected-option-display {
  font-size: 14px;
  color:red;
}

.code-snippit {
  font-size: 16px;
}
