.option-container {
   background-color: #f8f8f8;
   border-top: none;
   box-sizing: border-box;
   max-height: 150px;
   overflow-y: auto;
   width: 200px;
   z-index: 100;
   position: absolute;
}

.option {
   overflow: hidden;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 2px;
   padding-top: 5px;
   text-overflow: ellipsis;
   white-space: nowrap;
   position: relative;
   cursor: pointer;
   text-align: left;
}

.option-keyboard-highlight {
	background-color: #BCE9FA;
}

.option-mouse-highlight {
	background-color: #E4F6FD;
}
